<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название документа</th>
      <th scope="col">Обновлен</th>
      <th scope="col">Создан</th>
      <th scope="col">Статус обработки</th>
      <th scope="col">Использовать для обучения</th>
    </tr>
  </thead>
  <tbody>
      {{#each documents}}
        <tr>
            <td>{{@index}}</td>
            <td>{{this.name}}</td>
            <td>
                {{this.updatedAt}}
            </td>
            <td>
                {{this.createdAt}}
            </td>
            <td>
                {{#if this.handled}}
                    <p>
                        Обработан
                    </p>
                {{else}}
                    <p>
                        <a href="/handle/{{this._id}}" class="btn btn-primary">
                            Классифицировать
                        </a>
                    </p>
                {{/if}}
            </td>
            <td style="min-width:300px">
                <a href="/learn/{{this._id}}" class="btn btn-primary">Добавить в обучающую выборку</a>
            </td>
        </tr>
      {{/each}}
  </tbody>
</table>