<h3>
  Классификация исполнителей
</h3>
<table>
  <thead>
    <tr>
      <th scope="col">Класс</th>
      <th scope="col">Исполнитель (Принадлежность к классу, %)</th>
    </tr>
  </thead>
  <tbody>
    {{#each groupedStats}}
      <tr>
        <td>{{this.class}}</td>
        <td>{{this.value}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<br/>

<h3>
  База работников и их компетенций
</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ФИО</th>
      <th scope="col">Должность</th>
      <th scope="col">Опыт и отпуск</th>
      <th scope="col">ПО и Компетенции</th>
    </tr>
  </thead>
  <tbody>
      {{#each userInfos}}
        <tr class="row-user" data-id="{{this.id}}">
            <td>{{@index}}</td>
            <td>{{this.name}}</td>
            <td>{{this.rank}}</td>
            <td>
              <table class="table" id="tb-experience-{{this.id}}">
                <tr>
                  <th scope="col">Опыт работы</th>
                  <th scope="col">Вероятность ухода в отпуск, [0..1]</th>
                </tr>
                <tr>
                  <td>
                    <input id="experienceYears-{{this.id}}" type="text" class="form-control" value="{{this.experienceYears}}">
                  </td>
                  <td>
                    <input id="vacation-{{this.id}}" type="range" min="0" max="100" data-slider-step="0.01" class="custom-range" value="{{this.vacation}}">
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table class="table" id="tb-subjects-{{this.id}}">
                <tr>
                  <th scope="col">Предметная область</th>
                  <th scope="col">Значение, [0..1]</th>
                  <th scope="col"></th>
                </tr>
                {{#if this.subjects}}
                  {{#each this.subjects}}
                    <tr>
                      <td>
                        <input type="text" class="form-control" value="{{this.name}}">
                      </td>
                      <td>
                        <input type="range" class="custom-range" min="0" max="100" value="{{this.value}}" data-slider-step="0.01">
                      </td>
                      <td>
                        <button class="btn btn-primary rm-btn" type="button">Удалить</button>
                      </td>
                    </tr>
                  {{/each}}
                {{else}}
                    <tr>
                      <td>
                        Предметные области не найдены
                      </td>
                    </tr>
                {{/if}}
              </table>
              <table class="table" id="tb-skills-{{this.id}}">
                <tr>
                  <th scope="col">Компетенция</th>
                  <th scope="col">Значение, [0..1]</th>
                  <th scope="col"></th>
                </tr>
                {{#if this.skills}}
                  {{#each this.skills}}
                    <tr>
                      <td>
                        <input type="text" class="form-control" value="{{this.name}}">
                      </td>
                      <td>
                        <input type="range" class="custom-range" min="0" max="100" value="{{this.value}}">
                      </td>
                      <td>
                        <button class="btn btn-primary rm-btn" type="button">Удалить</button>
                      </td>
                    </tr>
                  {{/each}}
                {{else}}
                  <tr>
                    <td colspan="3">Компетенции не найдены</td>
                  </tr>
                {{/if}}
              </table>
            </td>
        </tr>
      {{/each}}
  </tbody>
</table>

<div class="btn-group" role="group">
  <button type="button" class="btn btn-primary" id="save-users-btn">Сохранить изменения</button>
</div>

<script src="/js/userInfo_list.js" type="text/javascript"></script>